{{ define "main" -}}

<h2>Conferences</h2>

<hr>

<p class="p-main">
    Welcome to the website of the Michigan Mathematical Association of Two-Year Colleges! MichMATYC is an affiliate of the 
    <a href="https://amatyc.site-ym.com/" target="_blank">American Mathematical Association of Two Year Colleges (AMATYC)</a> &ndash; 
    the national organization devoted soley to issues facing mathematics educators in the first two years of college.<br><br>
    
    Since its beginnings in 1981, a major focus of MichMATYC's mission has been professional development, which includes our 
    annual conference in October each year. Here you can learn about our history, become a member, explore member resources, 
    read our newsletter, visit links to professional organizations, and much more!

<h3 style="margin-bottom:0;">Upcoming conferences</h3>

<div class="posts">
  {{ range where .Site.RegularPages "Section" "upcoming" -}}
<article class="post">
  <h4 class="post-title">
    <a href="{{ .Permalink }}">{{ .Title }} <i class="fas fa-link"></i></a>
  </h4>
  <!-- <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z0700" }}" class="post-date">{{ .Date.Format "Jan 2, 2006" }}</time> -->
  {{ .Summary }}
  {{ if .Truncated }}
  <div class="read-more-link">
    <a href="{{ .RelPermalink }}">Read More…</a>
  </div>
  {{ end }}
</article>
{{- end }}
</div>

<h3 style="margin-bottom:0;">Previous conferences</h3>

<div class="posts">
  {{ range first 10 (where .Site.RegularPages "Section" "conferences") -}}
  <article class="post">
    <h4 class="post-title">
      <a href="{{ .Permalink }}">{{ .Title }} <i class="fas fa-link"></i></a>
    </h4>
    <!-- <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z0700" }}" class="post-date">{{ .Date.Format "Jan 2, 2006" }}</time> -->
    {{ .Summary }}
    {{ if .Truncated }}
    <div class="read-more-link">
      <a href="{{ .RelPermalink }}">Read More…</a>
    </div>
    {{ end }}
  </article>
  {{- end }}
  </div>

{{- end }}

