{{ define "main" -}}

<h2>Upcoming conferences</h2>

<div class="posts">
  {{ range where .Data.Pages "Section" "upcoming" -}}
<article class="post">
  <h3 class="post-title">
    <a href="{{ .Permalink }}">{{ .Title }} <i class="fas fa-link"></i></a>
  </h3>
  <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z0700" }}" class="post-date">{{ .Date.Format "Mon, Jan 2, 2006" }}</time>
  {{ .Summary }}
  {{ if .Truncated }}
  <div class="read-more-link">
    <a href="{{ .RelPermalink }}">Read More…</a>
  </div>
  {{ end }}
</article>
{{- end }}
</div>

<h2>Previous conferences</h2>

<div class="posts">
  {{ range first 10 (where .Data.Pages "Section" "conferences") -}}
  <article class="post">
    <h3 class="post-title">
      <a href="{{ .Permalink }}">{{ .Title }} <i class="fas fa-link"></i></a>
    </h3>
    <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z0700" }}" class="post-date">{{ .Date.Format "Mon, Jan 2, 2006" }}</time>
    {{ .Summary }}
    {{ if .Truncated }}
    <div class="read-more-link">
      <a href="{{ .RelPermalink }}">Read More…</a>
    </div>
    {{ end }}
  </article>
  {{- end }}
  </div>

{{- end }}

