{{ partial "head.html" . }}
  <body class="{{ .Site.Params.themeColor }} {{if .Site.Params.layoutReverse}}layout-reverse{{end}}">

  <!-- {{ partial "preloader.html" . }} -->
  {{ partialCached "sidebar.html" . }}

  <div id="dim">
 
  {{ partial "hamburger.html" . }}
  {{ partial "logo.html" . }}

    <main class="content container" id="main" style="min-height: 100vh;display: flex; flex-direction: column; justify-content: space-between;">
    

    {{ block "main" . -}}
    
    {{- end }}
  
    {{ partialCached "footer.html" . }}
    </main>
  
  </div>


    {{ template "_internal/google_analytics_async.html" . }}
    {{ partial "js.html" . }}
  </body>
</html>
