<h2>Announcements</h2>
<p class="p-main">Important announcments from our organization and from member institutions around the state and region are listed below. 
        If you would like to have an announcement or event posted, email details to <a href="mailto:michmatyc@gmail.com">michmatyc@gmail.com</a>. Announcements and events which go beyond a particular date 
        are archived and may be accessed in the <a href="https://michmatyc.org/announcements/archive/">announcements library</a>.
</p>
