<aside class="sidebar slideLeft" id="mobile-side-menu">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <!-- <a href="{{ .Site.BaseURL }}"><h1>{{ .Site.Title }}</h1></a> -->
      <h1>MichMATYC</h1>
      <p class="lead">
        {{ with .Site.Params.description }} {{.}} {{ else }}the Michigan affiliate of the American Mathematical
        Association of Two-Year Colleges <a href="https://amatyc.site-ym.com/" target="_blank">AMATYC</a>
        {{end}}
      </p>
    </div>
    <nav>
      <ul class="sidebar-nav">
        <li><a href="{{ .Site.BaseURL }}" onclick="closeSlideMenu()">Home</a> </li>
        {{ range .Site.Menus.main -}}
        <li><a href="{{.URL}}" onclick="closeSlideMenu()"> {{ .Name }} </a></li>
        {{- end }}
        <li style="padding-top: 1rem;">
          <a href="https://www.facebook.com/MichMATYC/" target="_blank">
            <i class="fab fa-facebook-f fa-mobile-custom"></i>
          </a>
          <a href="https://twitter.com/hashtag/MichMATYC?src=hash" target="_blank">
            <i class="fab fa-twitter fa-mobile-custom"></i>
          </a>
          <a href="https://www.linkedin.com/company/michmatyc" target="_blank">
            <i class="fab fa-linkedin-in fa-mobile-custom"></i>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</aside>


<aside class="sidebar" id="side-menu">
  <a href="http://www.michmatyc.org"><img src="{{ .Site.BaseURL }}uploads/logo.png" alt="Logo" id="LogoMain"></a>
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <!-- <a href="{{ .Site.BaseURL }}"><h1>{{ .Site.Title }}</h1></a> -->

      <h1>MichMATYC</h1>
      <p class="lead">
        {{ with .Site.Params.description }} {{.}} {{ else }}the Michigan affiliate of the American Mathematical
        Association of Two Year Colleges <a href="https://amatyc.site-ym.com/" target="_blank">AMATYC</a>
        {{end}}
      </p>
    </div>
    <nav>
      <ul class="sidebar-nav">
        <li class="animate"><a href="{{ .Site.BaseURL }}" style="font-weight: bold;">
            <h4 class="menu-title">Home</h4>
          </a> </li>
        {{ range .Site.Menus.main -}}
        <li class="animate"><a href="{{.URL}}" style="font-weight: bold;">
            <h4 class="menu-title">{{ .Name }}</h4>
          </a></li>
        {{- end }}
        <li style="padding-top: 1rem;">
          <a href="https://www.facebook.com/MichMATYC/" target="_blank">
            <span class="fa-stack fb" style="vertical-align: top;">
              <i class="fas fa-circle fa-stack-2x fa-outer"></i>
              <i class="fab fa-facebook-f fa-stack-1x fa-inner"></i>
            </span>
          </a>
          <a href="https://twitter.com/hashtag/MichMATYC?src=hash" target="_blank">
            <span class="fa-stack twit" style="vertical-align: top;">
              <i class="fas fa-circle fa-stack-2x fa-outer"></i>
              <i class="fab fa-twitter fa-stack-1x fa-inner"></i>
            </span>
          </a>
          <a href="https://www.linkedin.com/company/michmatyc" target="_blank">
            <span class="fa-stack linked" style="vertical-align: top;">
              <i class="fas fa-circle fa-stack-2x fa-outer"></i>
              <i class="fab fa-linkedin-in fa-stack-1x fa-inner"></i>
            </span>
          </a>
      </ul>
    </nav>
  </div>
</aside>