<aside class="sidebar slideLeft" id="mobile-side-menu">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <!-- <a href="{{ .Site.BaseURL }}"><h1>{{ .Site.Title }}</h1></a> -->
      <h1>MichMATYC</h1>
      <p class="lead">
      {{ with .Site.Params.description }} {{.}} {{ else }}the Michigan affiliate of the  American Mathematical Association of Two Year Colleges <a href="https://amatyc.site-ym.com/" target="_blank">AMATYC</a>
      {{end}}
      </p>
    </div>
    <nav>
      <ul class="sidebar-nav">
        <li ><a href="{{ .Site.BaseURL }}" onclick="closeSlideMenu()">Home</a> </li>
        {{ range .Site.Menus.main -}}
          <li ><a href="{{.URL}}" onclick="closeSlideMenu()"> {{ .Name }} </a></li>
        {{- end }}
        <li style="padding-top: 1rem;">      <a class = "social" href="https://www.facebook.com/MichMATYC/" target="_blank"> <i class="fab fa-facebook-square"></i></a>
          <a class = "social" href="https://twitter.com/hashtag/MichMATYC?src=hash" target="_blank"> <i class="fab fa-twitter-square"></i></a></li>
      </ul>
    </nav>
  </div>
</aside>


<aside class="sidebar" id="side-menu">
    <a href="http://www.michmatyc.org"><img src="{{ .Site.BaseURL }}uploads/logo.gif" alt="Logo" id="LogoMain"></a>
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <!-- <a href="{{ .Site.BaseURL }}"><h1>{{ .Site.Title }}</h1></a> -->
    
      <h1>Mich MATYC</h1>
      <p class="lead">
      {{ with .Site.Params.description }} {{.}} {{ else }}the Michigan affiliate of the  American Mathematical Association of Two Year Colleges <a href="https://amatyc.site-ym.com/" target="_blank">AMATYC</a>
      {{end}}
      </p>
    </div>
    <nav>
      <ul class="sidebar-nav">
        <li class="animate"><a href="{{ .Site.BaseURL }}" style="font-weight: bold;">Home</a> </li>
        {{ range .Site.Menus.main -}}
          <li class="animate"><a href="{{.URL}}" style="font-weight: bold;"> {{ .Name }} </a></li>
        {{- end }}
        <li style="padding-top: 1rem;">      <a class = "social" href="https://www.facebook.com/MichMATYC/" target="_blank"> <i class="fab fa-facebook-square"></i></a>
          <a class = "social" href="https://twitter.com/hashtag/MichMATYC?src=hash" target="_blank"> <i class="fab fa-twitter-square"></i></a></li>
      </ul>
    </nav>
  </div>
</aside>
