
<h1>Welcome to MichMATYC!</h1>
<p class="p-main">
    Welcome to the website of the Michigan Mathematical Association of Two-Year Colleges. We hope that you find this site useful
    and informative, where you will learn about our history, can become a member, and much more! MichMATYC is an affiliate of 
    the <a href="https://amatyc.site-ym.com/" target="_blank">American Mathematical Association of Two Year Colleges (AMATYC)</a>. 
    You will also find information about our organization, member resources, links to professional organizations, newsletter, and 
    job board.</p>
